/* MIS RECETAS
Estilos para MisRecetas.jsx */

/* Contenedor principal de la página */
.misRecetas {
    padding: 3rem 2rem;
    background-color: var(--background);
  }
  
  /* Encabezado principal de la página */
  .misRecetas__header {
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }

  /* Subtítulo CTA del encabezado */
  .misRecetas__headerCTA {
    font-weight: 500;
    margin-top: 2rem;
  }
  
  /* Contenedor de las tarjetas de recetas */
  .misRecetas__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem auto 1rem;
  }
  
  /* Cada tarjeta de receta */
  .misRecetas__card {
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
  }
  
  /* Título dentro de la tarjeta de receta */
  .misRecetas__titulo {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  /* Tipo de la receta */
  .misRecetas__tipo {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Cormorant Garamond";
  }

  /* Entrada de informacion de la receta */
  .misRecetas__entrada {
    font-weight: 500;
  }

  /* Enlaces en la tarjeta de receta */
  .misRecetas__containerLinks {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }

  .misRecetas__link {
    display: inline-block;
    font-weight: 500;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .misRecetas__link:hover {
    background-color: var(--lightblue);
    color: var(--blue);
    border: 1px solid var(--lightblue);
  }

  /* Aviso dentro de la página si no hay recetas */
  .misRecetas__aviso {
    text-align: center;
    font-size: 2rem;
  }
  
  /* Imagen de aviso */
  .misRecetas__imagen {
    width: 100%;
    object-fit: cover;
  }

  /* Enlace de crear receta */
  .linkCrear {
    margin-top: 0;
  }

  /* Texto en la parte inferior de la página */
  .misRecetas__textoAbajo {
    padding: 0.5rem;
    color: var(--blue);
    background-color: var(--lightblue);
  }
  
  /* Para dispositivos pequeños (máximo 480px de ancho) */
  @media (max-width: 480px) {
    .misRecetas__header {
        font-size: 2rem;
    }
    .misRecetas__card{
        padding: 1.5rem;
    }
    .misRecetas__titulo {
        font-size: 1.75rem
      }
    .misRecetas__headerCTA {
      font-size: 1.4rem;
    }
  }
  