/* CREAR RECETAS
Estilos para CrearRecetas.jsx */

/* Contenedor de la página */
.crear {
    padding: 2rem;
    background-color: var(--background);
  }
  
  /* Encabezado */
  .crear__header {
    font-size: 2.5rem;
    text-align: center;
  }
  
  /* Nota sobre campos */
  .crear__notaCampos {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-style: italic;
  }
  
  /* Contenedor de formulario */
  .crear__form {
    max-width: 600px;
    margin: 0 auto;
    background: var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Seccion de formulario */
  .crear__seccionForm {
    margin-bottom: 1.5rem;
  }
  
  /* Labels */
  .crear__label {
    font-family: "Jost";
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  /* Inputs */
  .crear__input {
    width: 100%;
    height: 10rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  /* Tiempo */
  .tiempo {
    height: auto;
  }

  /* Select */
  .selectInput {
    height: auto;
    font-family: "Cormorant Garamond";
  }
  
  /* Select seleccionado */
  .crear__input:focus {
    border-color: var(--blue);
    box-shadow: 0 0 5px var(--blue);
    outline: none;
  }

  /* Textarea placeholder */
  textarea::placeholder {
    font-family: "Cormorant Garamond";
  }
  
  /* Botón Submit */
  .crear__submit {
    font-family: "Jost";
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--blue);
    background-color: var(--lightblue);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* Hover */
  .crear__submit:hover {
    color: var(--lightblue);
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  /* Active */
  .crear__submit:active {
    transform: translateY(1px);
  }
  
  /* Mensaje error */
  .crear__mensajeError {
    font-family: "Jost";
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--white);
    background-color: var(--text);
  }
  
  /* Para pantallas con un ancho máximo de 768px */
  @media (max-width: 768px) {
    .crear {
      padding: 1rem;
    }
  
    .crear__form {
      padding: 1.5rem;
    }
  
    .crear__header {
      font-size: 2rem;
    }
  
    .crear__notaCampos {
      font-size: 0.9rem;
    }
  }
  
  /* Para pantallas con un ancho máximo de 480px */
  @media (max-width: 480px) {
    .crear__header {
      font-size: 1.8rem;
    }
  
    .crear__notaCampos {
      font-size: 0.85rem;
    }
  
    .crear__form {
      padding: 1rem;
    }
  
    .crear__label {
      font-size: 0.9rem;
    }
  
    .crear__input {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  
    .crear__submit {
      font-size: 1rem;
      padding: 0.75rem;
    }
  }
  